# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
dist
platform-teavm/bin
platform-teavm/js
node_modules
package.json
package-lock.json
reports